
AudioEventDetector/\.idea/AudioEventDetector\.iml

AudioEventDetector/\.idea/misc\.xml

AudioEventDetector/\.idea/modules\.xml

AudioEventDetector/\.idea/vcs\.xml

AudioEventDetector/\.idea/workspace\.xml

*.pyc

AudioEventDetector/\.idea/dictionaries/kejzin\.xml

Inzynierka_tex/Bibliografia_Dyplom\.aux

Inzynierka_tex/Bibliografia_Dyplom\.log

Inzynierka_tex/Konrad_Janowski_Dyplom\.log

Inzynierka_tex/Konrad_Janowski_Dyplom\.aux

Inzynierka_tex/Konrad_Janowski_Dyplom\.synctex\(busy\)

Inzynierka_tex/Konrad_Janowski_Dyplom\.synctex\.gz

Inzynierka_tex/Konrad_Janowski_Dyplom\.toc

*.gz

AudioEventDetector/desktop\.ini

TestFiles/02-180608_1842\.wav

TestFiles/

AudioEventDetector/\.idea/
