
AudioEventDetector/\.idea/AudioEventDetector\.iml

AudioEventDetector/\.idea/misc\.xml

AudioEventDetector/\.idea/modules\.xml

AudioEventDetector/\.idea/vcs\.xml

AudioEventDetector/\.idea/workspace\.xml
